#app {
    align-items: center;
    text-align: center;
    background-image: url('../public/images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 6em 1em;
}