#login {
    height: 80vh;
    align-items: center;
}

#login h1 {
    font-size: 2em;
    margin: 1em 1em 1em 1em;
    color: rgba(255, 255, 255);
}

#login p {
    color: rgb(255, 255, 255);
    font-size: 1em;
}

#login-form {
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1em;;
    border-radius: 1em;
}

.login-form-row {
    margin: 1em;
}